# Ignore environment variable files 
.env
.env.local

# Ignore your Firebase config if it’s kept out of source
firebase-config.js

# Ignore Firebase config files under public
public/projects/js/firebase-config.js
public/authentication/config.js

